<div id="container">
  <header id="t3-home-menu">
    <% if !user_signed_in? %>
    <%= render template: 'shared/navigation' %>
    <% else %>
    <%= render template: 'shared/session_navigation' %>
    <% end %>

    <% if user_signed_in? %>
    <div class="">
      <div class=""><%= link_to 'Create a Team!', new_team_path %></div>
      <div class=""><%= link_to 'Say Hello', new_message_path %></div>
    </div>
    <% end %>
  </header>
  <div id="content">
    <div id="t3-home">
      <div id="t3-home-landing"></div>
      <div class="t3-valign">
        <div class="centered">
        <div class="t3-signup-container">
          <span class="t3-signup-text">
            <span>30 Days of Eating Healthy. Do it with Friends. <%= link_to 'Sign Up Now', new_user_registration_path %></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
