<div class="container">
  <header id="t3-home-menu">
    <%= render template: 'shared/session_navigation' %>
    <%= render template: 'shared/personal_links' %>
  </header>
  <div id="content">
    <div id="t30-loggedin-landing"></div>

    <div class="row t30-user-page-top">
    <div class="small-7 columns">
        <div class="stats-container">
          <h2><%= "Team #{@team.name}" %></h2>
          <h2>Day <%= @team.day_no %></h2>

          <!-- Results -->
          <div class="show-container">
            <div class="team-name"><strong>Results</strong></div>
            <div class="team-list">
              <div class="active-team-results">
              <% @data.each do |v| %>
              <span><%= sprintf('% .0f', v) %></span>
              <% end %>
              </div>
            </div>
          </div>

          <!-- Roster -->
          <div class="show-container">
            <div class="team-name"><strong>Roster</strong></div>
            <ul>
              <%= render partial: 'user', collection: @users %>
            </ul>
          </div>

        </div>
      </div>
      <div class="small-4 small-offset-1 column">
        <div class="stats-container">
          <!-- Team Profile -->
          <div class="show-container">
            <div class="show-label">Name</div>
            <div class="show-element"><%= @team.name %></div>
          </div>

          <div class="show-container">
            <div class="show-label">Leader</div>
            <div class="show-element"><%= @team.leader.known_by %></div>
          </div>

          <div class="show-container">
            <div class="show-label">Status</div>
            <div class="show-element"><%= @team.status %></div>
          </div>

          <div class="show-container">
            <div class="show-label">Starting On</div>
            <div class="show-element"><%= @team.starting_on.strftime('%B %e, %Y') if @team.starting_on %></div>
          </div>

          <div class="show-container">
            <div class="show-label">Ending On</div>
            <div class="show-element"><%= @team.ending_on.strftime('%B %e, %Y') if @team.ending_on %></div>
          </div>

          <% if current_user == @team.leader %>
          <div class="show-container">
            <div class=""><%= link_to 'Change the Team Name', edit_team_path(@team.id) %></div>
          </div>
          <div class="show-container">
            <div class=""><%= link_to 'Add team member', new_team_user_path(@team.id) %></div>
          </div>
          <% if @team.users %>
          <div class="show-container">
            <div class=""><%= link_to 'Remove team member', remove_team_user_path(@team.id) %></div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>





