<%= render template: 'shared/session_navigation' %>

<h2>Say Hello!</h2>

<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= form_for @message, url: { action: 'create' } do |f| %>
<div class="field-container">
  <div class="field-label"><%= f.label :recipient, 'To' %></div>
  <div class="field-element"><%= f.collection_select :recipient_id , @users, :id, :known_by %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :is_private, 'Private' %></div>
  <div class="field-element"><%= f.check_box :is_private %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :content, 'Message' %></div>
  <div class="field-element"><%= f.text_area :content, rows: 5, cols: 40 %></div>
</div>

<div class="field-container">
  <div class="field-label"></div>
  <div class="field-element"><%= f.submit 'Send' %></div>
</div>
<% end %>
