<div id="container">
  <header id="t3-home-menu">
    <%= render template: 'shared/session_navigation' %>
    <%= render template: 'shared/personal_links' %>
  </header>
  <div id="content">
    <div id="t30-messages"></div>

    <div class="row t30-user-page-top">
    <div class="small-6 small-offset-1 columns">
        <div class="stats-container">
          <h2>Support Your Team!</h2>
          <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
          <% end %>

          <%= form_for @message, url: { action: 'create' } do |f| %>
          <div class="field-container">
            <div class="field-label"><%= f.label :recipient_id, 'To' %></div>
            <div class="field-element"><%= f.collection_select :recipient_id , @users, :id, :known_by, {prompt: 'Select a teammate...'} %></div>
          </div>

          <div class="field-container">
            <div class="field-label"></div>
            <div class="field-element"><%= f.check_box :is_private %><%= f.label :is_private, 'Private' %></div>
          </div>

          <div class="field-container">
            <div class="field-label"><%= f.label :content, 'Message' %></div>
            <div class="field-element"><%= f.text_area :content, rows: 5, cols: 30 %></div>
          </div>

          <div class="field-container">
            <div class="field-label"></div>
            <div class=""><%= f.submit 'Send' %></div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="small-5 columns"></div>
    </div>

  </div>
</div>
