<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field-container">
  <div class="field-label"><%= f.label :email %></div>
  <div class="field-element"><%= f.email_field :email, autofocus: true %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :password %></div>
  <div class="field-element"><%= f.password_field :password, autocomplete: "off" %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :password_confirmation, 'Confirm password' %></div>
  <div class="field-element"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :birth_date, 'Birth date' %></div>
  <div class="field-element"><%= f.date_field :birth_date %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :gender, 'Gender' %></div>
  <div class=""><%= f.select :gender, User::GENDER %></div>
</div>

<div class="field-container">
  <div class="field-label"><%= f.label :height, 'Height (in inches)' %></div>
  <div class="field-element"><%= f.text_field :height, maxlength: 2, size: 5 %></div>
</div>

<div class="field-container">
  <div class="field-element"><%= f.submit "Sign up" %></div>
</div>
<% end %>

<%= render "devise/shared/links" %>
