<div class="">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="menu-icon"><%= link_to image_tag('/images/team30-logo.png', height: 40, width: 153), root_path %></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <% if !user_signed_in? %>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li><%= link_to 'Login', user_session_path %></li>
                <% else %>
                <li><%= "hello #{current_user.known_by}" %></li>
                <li><%= link_to 'Logout', destroy_user_session_path %></li>
                <% end %>
            </ul>
        </section>
    </nav>
</div>
