<div>
  <ul>
    <li><%= link_to 'Team30', root_path %></li>
    <li>
        <span class="">Actions</span>
        <ul>
            <li><%= link_to 'My Account', user_path(current_user.id) %></li>
            <% if !current_user.teams.empty? %>
            <li><%= link_to 'Say Hello', new_message_path %></li>
            <% end %>
            <% if current_user.fetch_active_team %>
            <li><%= link_to 'Enter a Meal', new_meal_path %></li>
            <li><%= link_to 'Enter a Work Out', new_exercise_path %></li>
            <li><%= link_to 'Weigh In' new_weigh_in_path %></li>
            <% end %>
        </ul>
    </li>
    <li>Hello <%= link_to current_user.known_by user_path(current_user.id) %></li>
    <li><%= link_to 'Logout', destroy_user_session_path %></li>
</ul>
</div>
