<li>
  <div class="">
    <div class=""><%= link_to 'Ingredients', meal_path(meal.id) %></div>
    <div class=""><%= link_to 'Edit', edit_meal_path(meal.id) %></div>
    <div class=""><%= link_to 'Delete', meal_path(meal.id), method: :delete, data: {confirm: 'Are you sure?'} %></div>
  </div>
  <div class=""><%= meal.meal_date %></div>
  <div class=""><%= meal.meal_type %></div>
  <div class=""><%= meal.total_calories %></div>
</li>
