<%= render template: 'shared/session_navigation' %>

<h2><%= "#{@meal.meal_type} on #{@meal.meal_date}" %></h2>

<div class=""><%= link_to 'All meals', meals_path %></div>

<div class="">
  <div class="">Servings</div>
  <div class="">
    <div class="">Search</div>
    <% search_form_options = {method: 'POST', id: 'homeSearchForm'} %>
    <%= form_tag(nutritionix_query_path, search_form_options) do %>
    <div class="field-container">
      <div class="field-element">
        <%= text_field_tag('query', '', placeholder: 'Search for foods') %>
      </div>
    </div>

    <div class="field-container">
      <div class="field-element">
        <%= submit_tag('Search', id: 'submitHomeSearch', name: 'submitHomeSearch') %>
      </div>
    </div>
    <% end %>
  </div>

  <% if !@hits.nil? %>
  <div class="">
    <div class="">Results</div>
    <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <% results_form_options = { method: 'POST', id: 'resultsForm' } %>
    <%= form_tag(meal_ingredients_path(@meal.id), results_form_options) do %>
    <%= hidden_field_tag('item_description', '', id: 'selectedDescription') %>
    <%= hidden_field_tag('calories', '', id: 'selectedCalories') %>
    <div class="field-container">
      <div class="field-element">
      <% select_options = { prompt: 'Select an item...', id: 'searchResultsSelect' } %>
        <%= select_tag('item_id', options_for_select(@foods), select_options) %>
      </div>
    </div>

    <div class="field-container">
      <div class="field-element">
        <%= submit_tag('Save', name: 'submitResults', id: 'submitResultsBtn') %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="">
    <div class="">Selected Servings</div>
    <ul>
      <%= render partial: 'ingredient', collection: @ingredients %>
    </ul>
    <div class=""><%= "Total calories: #{@meal.total_calories}" %></div>
  </div>
</div>
