<div id="container">
  <header id="t3-home-menu">
    <%= render template: 'shared/navigation' %>
  </header>
  <div id="content">
    <div id="t30-home-landing"></div>

    <div class="row t30-page-top">
      <div class="small-5 small-offset-1 columns">
        <div class="stats-container">
          <h2>Log In</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field-container">
            <div class="field-label"><%= f.label :email %></div>
            <div class="field-element"><%= f.email_field :email, autofocus: true %></div>
          </div>

          <div class="field-container">
            <div class="field-label"><%= f.label :password %></div>
            <div class="field-element"><%= f.password_field :password, autocomplete: "off" %></div>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="field-container">
            <div class="field-label"></div>
            <div class="field-element"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
          </div>
          <% end -%>

          <div class="field-container">
            <div class="field-label"></div>
            <div class=""><%= f.submit "Sign in" %></div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="small-6 columns"></div>
    </div>

  </div>
</div>
